:root {
  --white: #ffffff;
  --text-color: #667085;
  --default-color: #8e2424;
  --title-color: #101828;
  --ann-talents: rgba(142, 36, 36, 0.05);
  --vacancies-border: #eaecf0;
  --depositions: rgba(195, 25, 25, 0.03);
  --trademark: #98a2b3;
  --borders: #d0d5dd;
  --footer: #f9fafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  /* width: 100%;
  height: 100vh; */
}

/* --- NAV --- */

nav {
  /* width: 85vw; */
  /* height: 8rem; */
  padding: 1.5rem 11.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a {
  font-weight: 500;
  font-size: 16px;

  margin: auto 1.6rem;
  text-decoration: none;
  color: var(--text-color);
}

button {
  cursor: pointer;
  margin: auto 0.6rem;
  padding: 1rem 1.8rem;
  border-radius: 8px;
  border: none;
  background: none;

  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}

button#signUp {
  background-color: var(--default-color);
  color: var(--white);
}

/* --- HEADER --- */

header {
  /* width: 85vw; */
  /* height: 40.7rem; */
  /* height: 207px; */
  padding: 9.6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 2.4rem;
}

.about-us {
  font-weight: 600;
  font-size: 16px;
  /* line-height: 24px; */
  color: var(--default-color);
}

.title-header {
  font-size: 3.2rem;
  /* line-height: 60px; */
  color: var(--title-color);
}

.text-header {
  max-width: 92rem;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
}

/* --- SECTION METRICS --- */

.metrics {
  display: grid;
  grid-template-columns: repeat(4, 8fr);
  column-gap: 3.2rem;
  padding: 0 11.2rem;
}

.metric {
  /* max-width: 28rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.metric-number {
  font-size: 6rem;
  color: var(--default-color);
}

.metric-title {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--title-color);
}

.metric-text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--text-color);
}

/* --- SECTION ANNOUNCEMENT --- */
/* --- DIV TALENTS --- */

.announcement {
  /* width: 85vw;  */
  /* padding: 0 1rem; */
  padding-top: 18rem;
}

.talents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.announcement-talents {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--default-color);
  padding: 0.6rem 1.6rem;
  border-radius: 16px;
  background-color: var(--ann-talents);
}

.title-talents {
  color: var(--title-color);
  font-size: 3rem;
}

.text-talents {
  font-size: 2rem;
  /* line-height: 3rem; */
  color: var(--text-color);
}

.talents img {
  margin-top: 4.5rem;
}

/* --- DIV VACANCIES --- */

.vacancies {
  margin: 5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-category {
  width: 50vw;
  padding: 3.2rem 0;
  /* gap: 2.4rem;*/
}

.title-category {
  /* margin-top: 6.4rem; */

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.job {
  margin: 2rem auto;
  /* height: 13.6rem; */
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid var(--vacancies-border);

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 2.5rem;
}

.job-description {
  font-weight: 500;
  font-size: 18px;
  /* line-height: 28px; */
  color: var(--title-color);
}

.job-details {
  display: flex;
  gap: 2.4rem;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  color: var(--text-color);
}

/* --- SECTION DEPOSITIONS --- */
/* --- DIV TEXT-DEPOSITIONS --- */

.depositions {
  width: 85vw;
  padding: 6.4rem;
  margin: 9.6rem auto;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--depositions);
}

.title-deposition {
  /* margin-bottom: 1.6rem; */
  font-weight: 600;
  font-size: 1.5rem;
  /* line-height: 20px; */
  color: var(--default-color);
}

.text-deposition {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  margin: 2rem 0;
  max-width: 70vw;
  color: var(--title-color);
}

.person-name {
  margin: 1.6rem 0 0.4rem 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--title-color);
}

.person-job {
  font-size: 14px;
  /* line-height: 20px; */
  color: var(--text-color);
}

/* --- FOOTER --- */

footer {
  /* width: 98.9vw;
  height: 26rem; */
  margin-top: 15rem;
  padding: 9.6rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--footer);
  gap: 2.5rem;
}

.title-form {
  /* margin-bottom: 2rem; */

  font-size: 36px;
  line-height: 44px;
  color: var(--title-color);
}

.text-form {
  /* margin-bottom: 4rem; */

  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

footer form {
  display: flex;
}

.ipt-email {
  width: 36rem;
  border-radius: 8px;
  margin-right: 1rem;
  padding: 1.2rem 1.4rem;
  border: 1px solid var(--borders);
}

.btn-submit {
  padding: 1.2rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;

  font-weight: 500;
  font-size: 16px;

  color: var(--white);
  background-color: var(--default-color);
}

.text-footer {
  font-size: 16px;
  line-height: 24px;
  color: var(--trademark);
}
