:root {
  --white: #ffffff;
  --text-color: #667085;
  --default-color: #8e2424;
  --title-color: #101828;
  --ann-talents: rgba(142, 36, 36, 0.05);
  --vacancies-border: #eaecf0;
  --depositions: rgba(195, 25, 25, 0.03);
  --trademark: #98a2b3;
  --borders: #d0d5dd;
  --footer: #f9fafb;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  /* font-size 1em = 10px on default browser settings */
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- NAV --- */

nav {
  width: 85vw;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a {
  font-weight: 500;
  font-size: 16px;

  margin: auto 1.6rem;
  text-decoration: none;
  color: var(--text-color);
}

button {
  cursor: pointer;
  margin: auto 0.6rem;
  padding: 1rem 1.8rem;
  border-radius: 8px;
  border: none;
  background: none;

  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}

button#signUp {
  background-color: var(--default-color);
  color: var(--white);
}

/* --- HEADER --- */

header {
  width: 85vw;
  /* height: 40.7rem; */
  height: 207px;
  padding: 9.6rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.about-us {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--default-color);
}

.title-header {
  font-size: 48px;
  line-height: 60px;
}

.text-header {
  max-width: 79.2rem;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
}

/* --- SECTION METRICS --- */

.metrics {
  width: 85vw;
  height: 28.8rem;
  display: flex;
  justify-content: space-between;
}

.metric {
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.number-metric {
  font-size: 60px;
  color: var(--default-color);
}

.title-metric {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--title-color);
}

.text-metric {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

/* --- SECTION ANNOUNCEMENT --- */
/* --- DIV TALENTS --- */

.announcement {
  width: 85vw;
  /* padding: 5rem 7rem; */
}

.talents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.announcement-talents {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--default-color);
  padding: 0.4rem 1.2rem;
  border-radius: 16px;
  background-color: var(--ann-talents);
}

.title-talents {
  color: var(--title-color);
  font-size: 36px;
}

.text-talents {
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

.talents img {
  margin-top: 3.1rem;
}

/* --- DIV VACANCIES --- */

.vacancies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-category {
  width: 76.8rem;
  gap: 2.4rem;
}

.title-category {
  margin-top: 6.4rem;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.job {
  margin: 2.4rem auto;

  height: 13.6rem;
  padding: 2.4rem;
  border-radius: 16px;
  border: 1px solid var(--vacancies-border);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.job-description {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--title-color);
}

.job-details {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

.job-details span {
  margin-right: 2.4rem;
}

/* --- SECTION DEPOSITIONS --- */
/* --- DIV TEXT-DEPOSITIONS --- */

.depositions {
  width: 85vw;
  padding: 6.4rem 0;
  margin: 9.6rem 0;

  /* height: 40.4rem; */
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--depositions);
}

.text-deposition {
  /* width: 80%; */
  /* height: 6.5rem; */
  margin-bottom: 3.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
}

.title-deposition {
  margin-bottom: 1.6rem;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--default-color);
}

.deposition {
  font-weight: 500;
  font-size: 36px;
  /* line-height: 44px; */
  color: var(--title-color);
}

/* --- DIV PERSON-DEPOSITIONS --- */

.person-deposition {
  /* height: 7rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  margin-bottom: 1.6rem;
}

.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--title-color);
}

.person-job {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}

/* --- FOOTER --- */

footer {
  width: 98.9vw;
  height: 26rem;
  padding: 9.6rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--footer);
}

.title-form {
  margin-bottom: 2rem;

  font-size: 36px;
  line-height: 44px;
  color: var(--title-color);
}

.text-form {
  margin-bottom: 4rem;

  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

.form-mail {
  margin-bottom: 3.2rem;
}

.ipt-email {
  width: 36rem;
  border-radius: 8px;
  margin-right: 1rem;
  padding: 1.2rem 1.4rem;
  border: 1px solid var(--borders);
}

.btn-submit {
  padding: 1.2rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  font-weight: 500;
  font-size: 16px;

  color: var(--white);
  background-color: var(--default-color);
}

.text-footer {
  font-size: 16px;
  line-height: 24px;
  color: var(--trademark);
}
